
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dosyalar</title>
</head>
<body>
    <div>
        @Html.ActionLink("Pdf Göster", "ShowPdf", "Home2")
    </div>
</body>
</html>
